.gradients--cloudyFoggyDay-top--3QIS- {
  background-color: #6e3f98;
  width: 100%;
  height: 162px;
}

.HeaderLargeScreen {
  width: 100%;
  height: 82px;
  border-style: solid;
}

.MainMenuHeader--MainMenuHeader--1T0Qd {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 204;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.MainMenuHeader--wrapper--2ZR4A {
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  height: 82px;
}
